# eagle default policy

[policy]
name=default
desc=optimaze for high energy efficiency

[cpu]
#CpuFreq governor, options: seep, conservative, ondemand, userspace, powersave, performance
freq_governor=seep

#CpuIdle governor, options: menu, teo
idle_governro=menu

# PM QOS. cpu&dma latency.
# -1: dynamic tuning;
# The value 0 or positive integer indicates the specific latency(unit: millisecond)
cpu_dma_latency=-1

# CPU tick mode, options: nohz
tick_mode=nohz

[disk]
# Enable or disable dynamic tuning. 1-enalbe, 0-disable
disk_dynamic_tuning=1

# SCSI link power management policy. options:
# min_power: Sets the link to its lowest power state(SLUMBER) when there is no I/O on the disk.
# medium_power: Sets the link to the second lowest state(PARTIAL) when there is no I/O on the disk.
# max_performance: ALPM is disabled.
alpm=medium_power

[nic]
# Enable or disable dynamic tuning. 1-enable, 0-disable
nic_dynamic_tuning=1

[usb]
# Enable or disable usb AUTOSUSPEND. 1-enable, 0-disable
autosuspend=1
