[Unit]
Description= Eagle Service. 

[Service]
ExecStart=/usr/sbin/eagle  /etc/eagle/eagle_config.ini
Restart=always
RestartSec=5
User=eagle

[Install]
WantedBy=multi-user.target
